/* VARIAVEIS */
:root {
    --color-principal: #0C356A;
    --color-secundaria: #FFC436;
    --color-bg: #fff;
    --color-gray: #d9d9d9;

    /* TEXTO */
    --color-titulo: #000000;
    --color-titulo-secundaria: #0c356a;
    --color-txt: #fff;
    --color-txt-cinza: #444;

    /* BUTTONS */
    --btn-color-hover: #22589e;
}




/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header Index HTML */
header {
    width: 100vh;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.logo img {
    height: 60px;
    width: auto;
}

.nav-bar-links .logo img {
    height: 60px;
    width: auto;
}

.nav-bar {
    width: 100vw;
    height: auto;
}

.container-banner img {
    width: 100vw; 
    height: 100%;
    object-fit: cover; 
    display: block; 
}


.nav-bar-links {
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%; 
    
}


.nav-bar-links a {
    color: var(--color-txt);
    text-decoration: none;
    font-weight: 400px;

    margin-left: 40px;
    margin-right: 40px;
}

.nav-bar-links a:hover {
    color: var(--color-secundaria);
    transition: color 0.2s ease-in-out;
}

.nav-bar-links .pre-matricula {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1.2px solid var(--color-bg);
}

.nav-bar-links .pre-matricula:hover {
    background-color: var(--color-bg);
    transition: color 0.2s ease-in;

    color: var(--color-principal);
}

/* MENU */
.menu {
    display: flex;
    gap: 15px; 
    align-items: center;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


/* CONTEUDO */
.container-conteudo{
    /* background-color: aqua; */

    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100vw;
    margin: 40px;

    align-items: center;
}

.container-conteudo-esquerda{
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 20px;
    gap: 20px;
}

.container-conteudo-esquerda h1 {
    color: var(--color-titulo);
    font-size: 45px;
}

.container-conteudo-esquerda .sub-titulo {
    color: var(--color-titulo-secundaria);
}

.container-conteudo-esquerda p {
    font-size: 24px;
}

.container-conteudo-esquerda button {
    background-color: var(--color-principal);
    border: none;
    padding: 10px;
    
    font-size: 35px;
    font-weight: 600;
    color: var(--color-txt);
    border-radius: 20px;
}

.container-conteudo-esquerda button:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);

}

.container-conteudo-direita{
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    padding: 80px;
    border-radius: 20px;
    height: 50vh;
    width: 50vh;    
    text-align: center;
}

.container-conteudo-direita h3 {
    color: var(--color-titulo-secundaria);
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.container-conteudo-direita p {
    font-size: 25px;
    margin: 10px;
    text-align: left;

}

.container-conteudo-direita button {
    border: 3px solid var(--color-principal);
    color: var(--color-principal);
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.container-conteudo-direita button:hover {
    cursor: pointer;
    background-color: var(--color-principal);
    color: var(--color-txt);
}


/* CARROSSEL */
.carrossel-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    max-width: 1000px; 
    /* margin: auto; */
    margin-top: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

/* ITEM DO CARROSSEL */
.carrossel-item {
    display: flex;
    align-items: center;
    gap: 30px; 
    width: 100%;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* IMAGEM */
.carrossel-img {
    width: 250px; 
    height: 250px; 
    border-radius: 20px;
    object-fit: cover;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* TEXTO */
.carrossel-texto h3 {
    color: var(--color-principal);
    font-size: 55px; 
    font-weight: bold;
}

.carrossel-texto h6 {
    color: var(--color-titulo);
    font-size: 28px; 
    font-weight: bold;
}

.carrossel-texto p {
    font-size: 25px; 
    color: var(--color-txt-cinza);
}

/* BOTÃO DA SETA */
.carrossel-next {
    background: none;
    border: none;
    font-size: 120px;
    cursor: pointer;
    color: #002D6D;
    font-weight: bold;
    transition: transform 0.3s;
}

.carrossel-next:hover {
    transform: scale(1.15);
}

/* EFEITOS DE TRANSIÇÃO */
.fade-out {
    opacity: 0;
    transform: translateX(-60px);
}

.fade-in {
    opacity: 1;
    transform: translateX(0);
}

/* INFORMAÇÕES AULAS */
.container-informacoes-aulas {
    background-color: var(--color-principal);
    padding: 35px;
    text-align: center;
    border-radius: 25px;
}

.container-informacoes-aulas h2 {
    color: var(--color-txt);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.informacoes-lista {
    color: var(--color-txt);
    text-align: left;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icone {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    
}



.informacoes-imagem .imagem {
    width: 100%;         
    max-width: 700px;
    height: auto;         
    object-fit: contain;  
}

.container-informacoes-aulas h3 {
    font-size: 1.2rem;
    margin: 0;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin: 0;
}

/* FOOTER */
.footer {
    margin-top: 50px;
    background-color: var(--color-principal);
    color: var(--color-txt);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-footer a {
    color: var(--color-secundaria);
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover {
    text-decoration: underline;
}

.redes-sociais {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais :hover{
}